body {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

h1 {
    color: rgb(255, 0, 0)
}

.title_bar {
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px 0;
    text-align: center
}

.nav_bar{
    background-color: rgb(68, 71, 73);
    display: block;
    overflow: hidden;
}

.nav_links{
    width: 100;
    overflow: hidden;
}

p {
    color: rgb(255, 255, 255)
}

h2 {
    color: rgb(255, 0, 0)
}

.nav_bar a{
    display: block;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: left;
}

ol {
    color: rgb(255, 255, 255)
}

.nav_links a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    transition: .25s;
}

.active{
    background-color: rgb(255, 0, 0)
}

ul {
    color: rgb(255, 255, 255)
}